body {
  font-family: 'Open Sans', sans-serif;
}

article {
    font-size: 1.25em;
    border: 2px solid #000;
}
  
article h2 {
    font-size: 1.8em;
    padding: 0px 20px;
}
  
article p {
    padding: 20px;
}

#base-information {
    background-color: #d4b713;
}

.article-text-base-information {
    color: #4244af;
}

#childhood {
    background-color: #000000;  
}

.article-text-childhood {
    color: #ac0606;
}

#school-years {
    background-color: #00ffff;
}

.article-text-school-years {
    color: #074105;
}

#out-of-school {
    background-color: #ac0606;
}

.article-text-out-of-school {
    color: #000;
}

#university {
    background-color: #155e7a;
}

.article-text-university {
    color: #fcfbf8;
}

