body {
    /*background: url(../images/sky.jpg) no-repeat center;
    */-webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.heading-style-main {
    text-align: center;
    font-size: 24px;
}

.heading-style {
    text-align: center;
    font-size: 22px;
}

.text-style {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.nav-link-first:link {
    color: #000000;
}

.nav-link-first:visited {
    color: #ac0606;
}

.nav-link-second:link {
    color: #282a97;
}

.nav-link-second:visited {
    color: #13c00d;
}

.nav-link-third:link {
    color: #b3315c;
}

.nav-link-third:visited {
    color: #d4b713;
}

.nav-link-fourth:link {
    color: #032431;
}

.nav-link-fourth:visited {
    color: #c0550d;
}

.back-to-main-link {
    font-style: italic;
}

.heading-align {
    text-align: center;
}

.btn-group {
    width: 100%;
    justify-content: space-between;
}

.btn-group button:hover {
    background-color: #b3315c;
    border: 1px solid #b3315c;
    color: #000;
}

#text-style-autobiography {
    font-size: 1.2em;
}

#text-style-autobiography h2 {
    font-size: 1.4em;
}

#text-style-autobiography a {
    font-weight: 700;
}

.upper-style {
    text-transform: uppercase;
}

.product-list li:nth-child(odd) {
    background-color: #667175;
}

.product-list li:nth-child(even) {
    background-color: #fff;
}

.recipe li:nth-child(3):hover {
    text-decoration: underline;
}

.recipe li:nth-child(5):hover {
    text-decoration: underline;
}

.recipe li:nth-child(4) {
    background: #ac0606;
}

.table-friends, th, td {
    border: 1px solid black !important;
    padding: 15px !important;
}

.table-heading {
    text-align: center;
    background-color: #048820 !important;
    color: #fff i !important;
    font-weight: 700 !important;
}

tr:nth-child(2n+2) {
    background-color: #667175;
}

tr:nth-child(2n+3) {
    background-color: #fff;
}

tr:last-child {
    text-align: right;
}

.head-first {
    font-size: 1.05em;
    text-align: center;
}

.head-second {
    font-size: 1.95em;
}

.head-third {
    font-size: 2.6em;
}

@media screen and (min-width: 1020px) {
    th {
        font-size: 1.3em;
    }

    td {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 621px) and (max-width: 810px) {
    th {
        font-size: 1.2em;
    }

    td {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 620px) {
    th {
        font-size: 1.1em;
    }
}